<style>
    .bg_block {
        background-color: black;
    }
</style>
<div class="bg_block">
    <div class="container marketing" style="color: white">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Марс – это вам не Луна. Почему так сложно отправить
                    человека
                    на Красную планету?</h2>
                <p class="lead">ейчас сложно представить, но между запуском первого спутника в 1957 году и началом
                    пилотируемой космонавтики – полетом Юрия Гагарина в 1961 году – прошло всего 4 года. Спустя еще семь
                    лет, в 1968 году, «Аполлон-8» совершает первый пилотируемый облет Луны. А через год, в июле и ноябре
                    1969 года, американские лунные модули дважды садятся на поверхность спутника Земли.</p>
            </div>
            <div class="col-md-5">
                <img src="https://cdn.stocksnap.io/img-thumbs/960w/moon-night_9DDJKPQLNQ.jpg" alt="Описание изображения"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height=500" style="border: 2px solid #000;">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Взлет, посадка и пребывание на планете</h2>
                </h2>
                <p class="lead">Чем нас привлекает Марс? Многим. Но вспомните фотоснимки с Красной планеты, сделанные
                    отправленными на планету марсоходами, например Curiosity и Spirit. Дневное небо Марса имеет
                    множество
                    оттенков. На рассвете и закате, когда Солнце у горизонта, небо имеет красновато-розовый цвет, вблизи
                    солнечного диска его оттенок меняется с голубого на фиолетовый, а днем оно желто-оранжевое. Причиной
                    тому – наличие у Марса атмосферы. А теперь вспомните черное даже днем небо на Луне. Оно еще и
                    звездное,
                    просто фотоаппаратура лунных экспедиций не смогла отобразить это. Почему так? Правильно, на Луне нет
                    атмосферы. Что это значит для полетов на небесные тела?</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://cdn.stocksnap.io/img-thumbs/960w/mars-crater_LO0S8HZD55.jpg"
                     alt="Описание изображения"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" style="border: 2px solid #000;">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Расстояние</h2>
                <p class="lead">В редкие дни и ночи мы не видим в небе наш спутник. Луна сопровождает нашу планету
                    неотступно в ее пути вокруг Солнца. До нее – 384 467 км. Летай – не хочу. А сколько до Марса? Здесь
                    одним числом не ответишь. Марс, как и любая другая планета, в том числе Земля, совершает свой
                    независимый путь вокруг нашего светила. Дистанция между двумя планетами постоянно меняется. Ближе
                    всего
                    они друг к другу в дни противостояний, которые повторяются каждые 26 месяцев. Во время
                    противостояния
                    Марс находится на земном небе в направлении, противоположном нашему светилу, то есть, условно
                    говоря, на
                    продолжении линии «Солнце – Земля».</p>
            </div>
            <div class="col-md-5">
                <a href=/media/head/img_4.png>
                    <img src="/media/head/img_5.png" alt="Описание изображения"
                         class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                         height="500" style="border: 2px solid #000;">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</div>