<div class="img_bg">
    <div class="wrap text-center" style="margin-left: 70vw;margin-top: 10vh;color: white">
        <div class="box">
            <p style="font-size: 1vh">МЫ</p>
            <p style="font-size: 6vh"> 1</p>
            <p style="font-size: 1vh">НА РЫНКЕ</p>
        </div>
        <div class="box">
            <p style="font-size: 1vh">ГАРАНТИРУЕМ</p>
            <p style="font-size: 5vh"> 50%</p>
            <p style="font-size: 1vh">БЕЗОПАСНОСТИ</p>
        </div>
        <div class="box">
            <p style="font-size: 1vh">КАЛЕНДАРИК</p>
            <p style="font-size: 5vh"> 2001г</p>
            <p style="font-size: 1vh">В ПОДАРОК</p>
        </div>
        <div class="box">
            <p style="font-size: 1vh">ПУТЕШЕСТВИЕ</p>
            <p style="font-size: 5vh"> 574</p>
            <p style="font-size: 1vh">ДНЯ</p>
        </div>

        <div class="mains">
            <p style="letter-spacing: 0.5vw;">ПУТЕШЕСТВИЕ</p>
            <p style="margin-top: 5vh;font-size: 2vh; margin-left: -3.5vw;letter-spacing: 5px;">на красную планету</p>
            <img class="bd-placeholder-img bd-placeholder-img-lg"
                 src="/media/head/img_2.png" style="margin-left: -37vw;
        width: 40vw;
        height: 50vh;
         margin-top: -50vh">
            {#            <img class="bd-placeholder-img bd-placeholder-img-lg"#}
            {#                 src="/media/head/img_3.png" style="margin-left: -25vw;#}
            {#         width: 5vw;#}
            {#         height: 30vh;#}
            {#          margin-top: -5vh;">#}
            <div id="outerspace">
                <div class="rocket ">
                    <div>
                        <img src="/media/head/img_3.png"
                             alt="Rocket" style="margin-left: -30vw;
                            width: 20vw;
                            height: 60vh;
                            margin-top: -1vh;">

                    </div>
                </div>
            </div>



{#            <button type="button" style="margin-left: -200vh;width: 15vh;font-size: 1vh"#}
            {#                    class="btn btn-outline-info ">Начать путешествие#}
            {#            </button>#}
        </div>
    </div>
</div>
