<div class="container py-3" >
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" >
        <div class="col" >
            <div class="card mb-4 rounded-3 shadow-sm  border-black bg_rocket " style="margin-bottom: 10vh">
                <div class="card-header py-3 ">
                    <h4 class="my-0 fw-normal">До шатла</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">500 тыс.</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 пользователей включено</li>
                        <li>2 ГБ хранилища</li>
                        <li>Обычная поддержка по электронной почте</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-danger">Регистрация бесплатно
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-black bg_lun" style="color: white">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">До луны</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">40 млн.</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 пользователей включено</li>
                        <li>10 ГБ хранилища</li>
                        <li>Приоритетная поддержка по эл. почте</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-danger">Начать</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-black bg_murs" style="color: white">
                <div class="card-header py-3 text-bg-danger border-danger">
                    <h4 class="my-0 fw-normal">До марса</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">150 млн.</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 пользователей включено</li>
                        <li>15 ГБ хранилища</li>
                        <li>Поддержка по телефону и эл. почте</li>
                        <li>Доступ к справочному центру</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-danger">Связаться с нами</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="road ">
    <div class="car" style="width: 400px;height:300px "></div>
</div>



