{#<ul class="topmenu">#}
{#   <li><a href="{% url "blog:main" %}">Главная</a></li>#}
{#   <li><a href="">Shop</a></li>#}
{#   <li><a href="">Blog</a>#}
{#      <ul class="submenu">#}
{#         <li><a href="">Category</a></li>#}
{#         <li><a href="">Author</a></li>#}
{#         <li><a href="">Archive</a></li>#}
{#         <li><a href="">Tags</a></li>#}
{#      </ul>#}
{#   </li>#}
{#   <li><a href="{% url "blog:contact" %}">Контакты</a></li>#}
{#</ul>#}
{#<ul>#}
{#    <li><a data-text='CSS' href="{% url "blog:list" %}">CSS</a></li>#}
{#    <li><a data-text="HTML" href="#">HTML</a></li>#}
{#    <li><a data-text="Javascript" href="#">JavaScript</a></li>#}
{#    <li><a data-text="About" href="#">About</a></li>#}
{#</ul>#}


{#<header class="p-3 text-bg" style="border-bottom: 0.2vh solid #c0c0c0;#}
{#border-top: 0.2vh solid #c0c0c0;">#}
{##}
{#    <div class="container">#}
{##}
{#        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">#}
{#            <img src="/media/head/img_1.png "#}
{#                 height="25%"#}
{#                 width="25%"#}
{#                 border="1">#}
{#            <ul class="nav col-12 col-lg-auto mb-md-0 "#}
{#                style="font-size: 2vh; border-right: 10vw;">#}
{#                <li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>#}
{#                <li><a href="#" class="nav-link px-2 text-white">Функции</a></li>#}
{#                <li><a href="#" class="nav-link px-2 text-white">Ценообразование</a></li>#}
{#                <li><a href="#" class="nav-link px-2 text-white">FAQ</a></li>#}
{#                <li><a href="#" class="nav-link px-2 text-white">О нас</a></li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#    </div>#}
{#</header>#}

<div class="manus">
    <img src="/media/head/img_1.png"
         width="10%"
         height="10%"
         style="margin-left: 7vw;">
    <ul class="menu" style="margin-left: 10%">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Технологии</a></li>
        <li><a href="#">График полетов</a></li>
        <li><a href="#">Гарантии</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>

</div>
