{#<style>#}
{##}
{#    style main#}
{#    .bd-placeholder-img {#}
{#        font-size: 1.125rem;#}
{#        text-anchor: middle;#}
{#        -webkit-user-select: none;#}
{#        -moz-user-select: none;#}
{#        user-select: none;#}
{#    }#}
{##}
{#    @media (min-width: 768px) {#}
{#        .bd-placeholder-img-lg {#}
{#            font-size: 3.5rem;#}
{#        }#}
{#    }#}
{##}
{#    .b-example-divider {#}
{#        width: 100%;#}
{#        height: 3rem;#}
{#        background-color: rgba(0, 0, 0, .1);#}
{#        border: solid rgba(0, 0, 0, .15);#}
{#        border-width: 1px 0;#}
{#        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);#}
{#    }#}
{##}
{#    .b-example-vr {#}
{#        flex-shrink: 0;#}
{#        width: 1.5rem;#}
{#        height: 100vh;#}
{#    }#}
{##}
{#    .bi {#}
{#        vertical-align: -.125em;#}
{#        fill: currentColor;#}
{#    }#}
{##}
{#    .nav-scroller {#}
{#        position: relative;#}
{#        z-index: 2;#}
{#        height: 2.75rem;#}
{#        overflow-y: hidden;#}
{#    }#}
{##}
{#    .nav-scroller .nav {#}
{#        display: flex;#}
{#        flex-wrap: nowrap;#}
{#        padding-bottom: 1rem;#}
{#        margin-top: -1px;#}
{#        overflow-x: auto;#}
{#        text-align: center;#}
{#        white-space: nowrap;#}
{#        -webkit-overflow-scrolling: touch;#}
{#    }#}
{##}
{#    .btn-bd-primary {#}
{#        --bd-violet-bg: #712cf9;#}
{#        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;#}
{##}
{#        --bs-btn-font-weight: 600;#}
{#        --bs-btn-color: var(--bs-white);#}
{#        --bs-btn-bg: var(--bd-violet-bg);#}
{#        --bs-btn-border-color: var(--bd-violet-bg);#}
{#        --bs-btn-hover-color: var(--bs-white);#}
{#        --bs-btn-hover-bg: #6528e0;#}
{#        --bs-btn-hover-border-color: #6528e0;#}
{#        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);#}
{#        --bs-btn-active-color: var(--bs-btn-hover-color);#}
{#        --bs-btn-active-bg: #5a23c8;#}
{#        --bs-btn-active-border-color: #5a23c8;#}
{#    }#}
{##}
{#    .bd-mode-toggle {#}
{#        z-index: 1500;#}
{#    }#}
{##}
{#    .bd-mode-toggle .dropdown-menu .active .bi {#}
{#        display: block !important;#}
{#    }#}
{##}
{#    * {#}
{#        box-sizing: border-box;#}
{#        margin: 0;#}
{#        padding: 0;#}
{#    }#}
{##}
{#    body {#}
{#        background-color: white;#}
{#        color: black;#}
{#        margin: 0;#}
{#    background-image: url("/media/territory/fon.png"); background-attachment: fixed;#}
{#        text-align: center;#}
{#        text-decoration-color: black;#}
{#    }#}
{##}
{#    .body_slider {#}
{#        background-image: url("/media/territory/fon.png")#}
{#    }#}
{##}
{##}
{#    ul {#}
{#        list-style: none;#}
{#    }#}
{##}
{#    .topmenu {#}
{#        background: white;#}
{#    }#}
{##}
{#    .topmenu a {#}
{#        text-decoration: none;#}
{#        display: block;#}
{#        transition: .4s ease-in-out;#}
{#    }#}
{##}
{#    .topmenu > li > a {#}
{#        padding: 20px;#}
{#        color: #767676;#}
{#        text-transform: uppercase;#}
{#        font-weight: bold;#}
{#        letter-spacing: 1px;#}
{#        font-family: 'Exo 2', sans-serif;#}
{#    }#}
{##}
{#    .topmenu li a:hover {#}
{#        color: #c0a97a;#}
{#    }#}
{##}
{#    .submenu li a {#}
{#        border-bottom: 1px solid #efefef;#}
{#        font-size: 12px;#}
{#        color: #484848;#}
{#        font-family: 'Kurale', serif;#}
{#    }#}
{##}
{#    @media (max-width: 599px) {#}
{#        .topmenu > li > a {#}
{#            padding: 15px 20px;#}
{#        }#}
{##}
{#        .submenu li a {#}
{#            padding: 10px 20px;#}
{#            margin: 0 20px;#}
{#        }#}
{#    }#}
{##}
{#    @media (min-width: 600px) {#}
{#        .topmenu {#}
{#            width: 100%;#}
{#            display: flex;#}
{#            justify-content: center;#}
{#        }#}
{##}
{#        .topmenu > li {#}
{#            position: relative;#}
{#        }#}
{##}
{#        .topmenu > li:after {#}
{#            content: "";#}
{#            position: absolute;#}
{#            right: 0;#}
{#            width: 1px;#}
{#            height: 12px;#}
{#            background: #d2d2d2;#}
{#            top: 24px;#}
{#            box-shadow: 4px -2px 0 #d2d2d2;#}
{#            transform: rotate(30deg);#}
{#        }#}
{##}
{#        .topmenu > li:last-child:after {#}
{#            background: none;#}
{#            box-shadow: none;#}
{#        }#}
{##}
{#        .submenu {#}
{#            position: absolute;#}
{#            left: 50%;#}
{#            top: 100%;#}
{#            width: 210px;#}
{#            margin-left: -105px;#}
{#            background: #fafafa;#}
{#            border: 1px solid #ededed;#}
{#            z-index: 5;#}
{#            visibility: hidden;#}
{#            opacity: 0;#}
{#            transform: scale(.8);#}
{#            transition: .4s ease-in-out;#}
{#        }#}
{##}
{#        .topmenu > li:hover .submenu {#}
{#            visibility: visible;#}
{#            opacity: 1;#}
{#            transform: scale(1);#}
{#        }#}
{##}
{#        .submenu li a {#}
{#            text-align: center;#}
{#            padding: 10px 0;#}
{#            margin: 0 10px;#}
{#        }#}
{#    }#}
{##}
{##}
{#    end style main#}
{##}
{#     style card #}
{#    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");#}
{##}
{#    :root {#}
{#        /* Colors */#}
{#        --brand-color: hsl(46, 100%, 50%);#}
{#        --black: hsl(0, 0%, 0%);#}
{#        --white: hsl(0, 0%, 100%);#}
{#        /* Fonts */#}
{#        --font-title: "Montserrat", sans-serif;#}
{#        --font-text: "Lato", sans-serif;#}
{#    }#}
{##}
{#    /* RESET */#}
{##}
{#    /* Box sizing rules */#}
{#    *,#}
{#    *::before,#}
{#    *::after {#}
{#        box-sizing: border-box;#}
{#    }#}
{##}
{#    /* Remove default margin */#}
{#    h2,#}
{#    p {#}
{#        margin: 0;#}
{#    }#}
{##}
{#    .white-text {#}
{#        color: white;#}
{#    }#}
{##}
{#    /* GLOBAL STYLES */#}
{##}
{#    .flow > * + * {#}
{#        margin-top: var(--flow-space, 1em);#}
{#    }#}
{##}
{#    /* CARD COMPONENT */#}
{##}
{#    .card {#}
{#        display: grid;#}
{#        place-items: center;#}
{#        width: 80vw;#}
{#        max-width: 21.875rem;#}
{#        height: 28.125rem;#}
{#        overflow: hidden;#}
{#        border-radius: 0.625rem;#}
{#        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);#}
{#    }#}
{##}
{#    .card > * {#}
{#        grid-column: 1 / 2;#}
{#        grid-row: 1 / 2;#}
{#    }#}
{##}
{#    .card__background {#}
{#        object-fit: cover;#}
{#        max-width: 100%;#}
{#        height: 100%;#}
{#    }#}
{##}
{#    .card__content {#}
{#        --flow-space: 0.9375rem;#}
{#        display: flex;#}
{#        flex-direction: column;#}
{#        justify-content: space-between;#}
{#        align-self: flex-end;#}
{#        height: 55%;#}
{#        padding: 12% 1.25rem 1.875rem;#}
{#        background: linear-gradient(#}
{#                180deg,#}
{#                hsla(0, 0%, 0%, 0) 0%,#}
{#                hsla(0, 0%, 0%, 0.3) 10%,#}
{#                hsl(0, 0%, 0%) 100%#}
{#        );#}
{#    }#}
{##}
{#    .card__content--container {#}
{#        --flow-space: 1.25rem;#}
{#    }#}
{##}
{#    .card__title {#}
{#        position: relative;#}
{#        width: fit-content;#}
{#        width: -moz-fit-content; /* Prefijo necesario para Firefox  */#}
{#    }#}
{##}
{#    .text-container {#}
{#        position: absolute;#}
{#        top: 50%;#}
{#        left: 50%;#}
{#        transform: translate(-50%, -50%);#}
{#        text-align: center;#}
{#    }#}
{##}
{#    .card__title::after {#}
{#        content: "";#}
{#        position: absolute;#}
{#        height: 0.3125rem;#}
{#        width: calc(100% + 1.25rem);#}
{#        bottom: calc((1.25rem - 0.5rem) * -1);#}
{#        left: -1.25rem;#}
{#        background-color: var(--brand-color);#}
{#    }#}
{##}
{#    .card__button {#}
{#        padding: 0.75em 1.6em;#}
{#        width: fit-content;#}
{#        width: -moz-fit-content; /* Prefijo necesario para Firefox  */#}
{#        font-variant: small-caps;#}
{#        font-weight: bold;#}
{#        border-radius: 0.45em;#}
{#        border: none;#}
{#        background-color: var(--brand-color);#}
{#        font-family: var(--font-title);#}
{#        font-size: 1.125rem;#}
{#        color: var(--black);#}
{#    }#}
{##}
{#    .card__button:focus {#}
{#        outline: 2px solid black;#}
{#        outline-offset: -5px;#}
{#    }#}
{##}
{#    @media (any-hover: hover) and (any-pointer: fine) {#}
{#        .card__content {#}
{#            transform: translateY(62%);#}
{#            transition: transform 500ms ease-out;#}
{#            transition-delay: 500ms;#}
{#        }#}
{##}
{#        .card__title::after {#}
{#            opacity: 0;#}
{#            transform: scaleX(0);#}
{#            transition: opacity 1000ms ease-in, transform 500ms ease-out;#}
{#            transition-delay: 500ms;#}
{#            transform-origin: right;#}
{#        }#}
{##}
{#        .card__background {#}
{#            transition: transform 500ms ease-in;#}
{#        }#}
{##}
{#        .card__content--container > :not(.card__title),#}
{#        .card__button {#}
{#            opacity: 0;#}
{#            transition: transform 500ms ease-out, opacity 500ms ease-out;#}
{#        }#}
{##}
{#        .card:hover,#}
{#        .card:focus-within {#}
{#            transform: scale(1.05);#}
{#            transition: transform 500ms ease-in;#}
{#        }#}
{##}
{#        .card:hover .card__content,#}
{#        .card:focus-within .card__content {#}
{#            transform: translateY(0);#}
{#            transition: transform 500ms ease-in;#}
{#        }#}
{##}
{#        .card:focus-within .card__content {#}
{#            transition-duration: 0ms;#}
{#        }#}
{##}
{#        .card:hover .card__background,#}
{#        .card:focus-within .card__background {#}
{#            transform: scale(1.3);#}
{#        }#}
{##}
{#        .card:hover .card__content--container > :not(.card__title),#}
{#        .card:hover .card__button,#}
{#        .card:focus-within .card__content--container > :not(.card__title),#}
{#        .card:focus-within .card__button {#}
{#            opacity: 1;#}
{#            transition: opacity 500ms ease-in;#}
{#            transition-delay: 1000ms;#}
{#        }#}
{##}
{#        .card:hover .card__title::after,#}
{#        .card:focus-within .card__title::after {#}
{#            opacity: 1;#}
{#            transform: scaleX(1);#}
{#            transform-origin: left;#}
{#            transition: opacity 500ms ease-in, transform 500ms ease-in;#}
{#            transition-delay: 500ms;#}
{#        }#}
{##}
{#    end card#}
{##}
{#    }#}
{##}
{#    .qode-banner .qode-banner-content {#}
{#        transition: all 0.3s ease;#}
{#    }#}
{##}
{#    .qode-banner:hover .qode-banner-content {#}
{#        opacity: 1;#}
{#        background-color: transparent;#}
{#    }#}
{##}
{#    .vc_custom_1604991495334 {#}
{#        margin-top: 50px !important;#}
{#        margin-bottom: 50px !important;#}
{#    }#}
{##}
{#    .vc_custom_1621334001350 {#}
{#        background-color: #dddddd !important;#}
{#        border-radius: 10px !important;#}
{#    }#}
{##}
{#    .qode-banner-text-holder {#}
{##}
{#        text-align: left;#}
{#    }#}
{##}
{#    .container {#}
{#        width: 100% !important;#}
{#        margin: 0 auto !important;#}
{#        padding: 0 !important;#}
{#        overflow: hidden;#}
{#    }#}
{##}
{#    .carousel-animate .carousel-indicators > li {#}
{#        margin: 0 2px;#}
{#        background-color: #fff;#}
{#        border-color: rgb(58, 36, 83);#}
{#        opacity: .7;#}
{#    }#}
{##}
{#    .carousel-animate .carousel-indicators > li.active {#}
{#        width: 10px;#}
{#        height: 10px;#}
{#        opacity: 1;#}
{#    }#}
{##}
{#    .carousel-animate .hero {#}
{#        color: #fff;#}
{#        text-align: center;#}
{#        text-transform: uppercase;#}
{#        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);#}
{#    }#}
{##}
{#    .btn.btn-lg {#}
{#        padding: 10px 40px;#}
{#    }#}
{##}
{#    .btn.btn-hero,#}
{#    .btn.btn-hero:hover,#}
{#    .btn.btn-hero:focus {#}
{#        color: #fff;#}
{#        background-color: #694198;#}
{#        border-color: rgb(67, 41, 97);#}
{#        outline: none;#}
{#        margin: 20px auto;#}
{#    }#}
{##}
{#    @media screen and (max-width: 640px) {#}
{#        .hero h1 {#}
{#            font-size: 2em;#}
{#        }#}
{#    }#}
{##}
{#    .carousel-fade .carousel-inner .item {#}
{#        transition-property: opacity;#}
{##}
{#    }#}
{##}
{#    .carousel-fade .carousel-inner .item,#}
{#    .carousel-fade .carousel-inner .active.left,#}
{#    .carousel-fade .carousel-inner .active.right {#}
{#        opacity: 0;#}
{#    }#}
{##}
{#    .carousel-fade .carousel-inner .active,#}
{#    .carousel-fade .carousel-inner .next.left,#}
{#    .carousel-fade .carousel-inner .prev.right {#}
{#        opacity: 1;#}
{#    }#}
{##}
{#    .carousel-fade .carousel-inner .next,#}
{#    .carousel-fade .carousel-inner .prev,#}
{#    .carousel-fade .carousel-inner .active.left,#}
{#    .carousel-fade .carousel-inner .active.right {#}
{#        left: 0;#}
{#        transform: translate3d(0, 0, 0);#}
{#    }#}
{##}
{#    .carousel-bg .carousel-inner .item {#}
{#        background-color: darkslategrey;#}
{#        background-size: cover;#}
{#        background-position: center;#}
{#        min-height: 480px;#}
{#    }#}
{##}
{#    .text {#}
{#        background-color: #f5f5f5;#}
{#        padding: 20px;#}
{#        max-width: 300px;#}
{#        margin: 0 auto;#}
{#    }#}
{##}
{#    .ccd {#}
{#        height: 100%;#}
{#        overflow: hidden;#}
{#        width: 100%;#}
{#        margin: 0 auto;#}
{#        position: relative;#}
{#    }#}
{##}
{##}
{#     для кнопки связи вниху #}
{#    a.ddott {#}
{#        margin: 0 auto;#}
{#        display: block;#}
{#        line-height: 50px;#}
{#        height: 50px;#}
{#        width: 50%;#}
{#        overflow: hidden;#}
{#        text-align: center;#}
{#        text-decoration: none;#}
{#        font-weight: bold;#}
{#        text-shadow: 0 100px 0 #FFF, 1px 76px 10px #000;#}
{#        color: #FFF;#}
{#        background: #bb2d3b;#}
{#        border-right: 2px solid #FFF;#}
{#        border-left: 2px solid #FFF;#}
{#        -webkit-transition: all 0.3s ease-in-out;#}
{#        -moz-transition: all 0.3s ease-in-out;#}
{#        -o-transition: all 0.3s ease-in-out;#}
{#        -ms-transition: all 0.3s ease-in-out;#}
{#        transition: all 0.3s ease-in-out;#}
{##}
{#    }#}
{##}
{#    a.ddott:hover {#}
{#        text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;#}
{#        margin-top: -50px;#}
{#        height: 100px;#}
{#        background: #222;#}
{#    }#}
{##}
{#    .cards-wrapper {#}
{#        display: flex;#}
{#        justify-content: center;#}
{#    }#}
{##}
{#    .card img {#}
{#        max-width: 100%;#}
{#        max-height: 100%;#}
{#    }#}
{##}
{#    .card {#}
{#        margin: 0 0.5em;#}
{#        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);#}
{#        border: none;#}
{#        border-radius: 0;#}
{#    }#}
{##}
{#    .carousel-inner {#}
{#        padding: 1em;#}
{#    }#}
{##}
{#    .carousel-control-prev,#}
{#    .carousel-control-next {#}
{#        background-color: #e1e1e1;#}
{#        width: 5vh;#}
{#        height: 5vh;#}
{#        border-radius: 50%;#}
{#        top: 50%;#}
{#        transform: translateY(-50%);#}
{#    }#}
{#     для кнопки связи вниху #}
{##}
{##}
{##}
{##}
{#</style>#}
{##}
{##}
{#<link rel="stylesheet" id="js_composer_front-css"#}
{#      href="https://visitvrn.ru/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.6"#}
{#      type="text/css" media="all">#}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<style>

    body {
        background-image: url("/media/head/img.png");
        background-attachment: fixed;
        background-size: cover;
        z-index: 1;

    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }


    .manus {
        background-color: black;
        opacity: 0.7;
        display: flex;
        align-items: center;
        font-size: 1vw;
        border: 0.1px solid white;
    }

    .menu {
        list-style: none;
        padding: 0;
        display: flex; /* расположение пунктов меню вдоль */
        align-items: center; /* выравнивание элементов по вертикали */

    }

    .menu li {
        margin-left: 5vh; /* отступ между пунктами меню */
    }

    .menu a {
        text-decoration: underline; /* добавление подчеркивания к ссылкам */
        color: white; /* цвет текста белый */
    }

    .mains {
        position: relative;
        width: 50vw;
        height: 50vh;
        z-index: 3; /* Установить z-index для второго треугольника */

    }

    .mains p {

        font-size: 4vh;
        position: absolute;
        top: -35vh;
        left: -48vw;
        transform: translate(-40%, -5%);
        width: 100%;
        text-align: center;
        z-index: 1;
        background: linear-gradient(to right, white, DarkRed);
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;

    }

    .mains img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 25vw;

    }

    .box {
        line-height: 3vw;
        width: 10vw;
        height: 17vh;
        margin: 1vw;
        border-image: linear-gradient(DarkRed, white) 30;
        border-width: 1px;
        border-style: solid;
        overflow: hidden;
    }


</style>